VITE_OPENAI_API_KEY=VITE_OPENAI_API_KEY=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
VITE_GOOGLE_CLIENT_ID=315917575340-e88a9nvh9sr796ag9gu5p4m036mjet8e.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=